<div class="col-12"> 
    <div>
        <h2 class="journal-title">{{journal.title}}</h2>
    </div>
    <div>
        <p class="journal-desc">{{journal.entry}}</p>
    </div>
</div>

<div class="single-img card bg-light">
    <img class="card-img-top img-preview" src="/assets/images/placeholder-image.jpg" alt="">
</div>


<div class="col row">
    <div class="dropdown">
        <button class="btn add-btn btn-info dropdown-toggle" id="add-photo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Photo
        </button>
        <div class="dropdown-menu" aria-labelledby="add-photo">
            <input type="file" class="form-control-file new-journal dropdown-item" id="photo">
            <button type="submit" class="btn btn-info submit-btn">Submit</button>
        </div>
    </div>
    <div class="dropdown">
        <button class="btn add-btn btn-info dropdown-toggle" id="share" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Share
        </button>
        <div class="dropdown-menu" aria-labelledby="share">
            <input type="text" class="form-control-file new-journal dropdown-item" id="link" placeholder="Shareable Link Here">
        </div>
    </div>
</div>

<form class="form-group col-12" id="comment-form">
    <div>
        <label for="commenting"></label>
        <textarea class="form-control" name="comment-text" id="commenting" placeholder="Add a comment." rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-info col">Submit</button>
</form>

<div class="journal-comment col-12">
{{#each journal.comments}}
    <p>
        {{comment_text}}<br />
        <span>{{created_at}} by {{user.username}}</span>
    </p>
{{/each}}
</div>

<script src="/javascript/comment.js"></script>